.Rproj.user
.Rhistory
.RData
.Ruserdata

# ds_store
**/.DS_Store

# dataset
1-prepare_dataset/plots
1-prepare_dataset/tables

# dadi
2-infer_demographic_history/dadi/__pycache__
2-infer_demographic_history/dadi/data
2-infer_demographic_history/dadi/plots
2-infer_demographic_history/dadi/tables
2-infer_demographic_history/dadi/junk

# simulations
3-simulations/plots
3-simulations/tables
